<div class="row">
    <div class="col-md-6" style="text-align: center;">
        <mat-card>
            <button mat-raised-button (click)="reiniciarStepConfiguracionRed()" color="warn">
                <mat-icon matSuffix>delete</mat-icon> Borrar Configuración de la Red
            </button>
        </mat-card>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <mat-card>
            <button mat-raised-button (click)="reiniciarEntrenamiento()" color="rollback">
                <mat-icon matSuffix>restart_alt</mat-icon> Reiniciar
                Entrenamiento
            </button>
        </mat-card>
    </div>
</div>