<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <form [formGroup]=formConfiguracionRed>
      <div class="row" >
        <div class="col-md-6" >
          <mat-card>
            <label style="margin-bottom: 20px" for="archivoEntradas">Configuracion de la red</label>
            <div class="form-group" style="text-align: center;">
              <mat-form-field class="example-full-width" appearance="legacy" aria-disabled="true">
                <mat-label>No. Capas intermedias</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Numero de capas intermedias"
                  name="numeroCapasIntermedias"
                  formControlName="numeroCapasIntermedias"
                  min="1"
                  (ngModelChange)="generarCamposCapaIntermedia($event)"
                />
                <mat-icon matSuffix>repeat</mat-icon>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
        <div class="col-md-6" >
          <mat-card>
            <label style="margin-bottom: 20px" for="archivoEntradas">Funcion de activacion capa de salida</label>
            <div class="form-group" style="text-align: center;">
              <mat-form-field class="example-full-width" appearance="legacy" aria-disabled="true">
                <mat-label>Funciones de activacion</mat-label>
                <select
                  matNativeControl
                  [(ngModel)]="funcionActivacionCapaSalida"
                  name="funcionesActivacionCapaSalida"
                >
                  <option value="" selected>Seleccione...</option>
                  <option *ngFor="let funcionActivacion of funcionesActivacionCapaSalida" [value]="funcionActivacion">
                    {{funcionActivacion}}
                  </option>
                </select>
                <mat-icon matSuffix>repeat</mat-icon>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <mat-card>
          <div class="row" >
            <div
              *ngFor="let capa of arrayConfiguracionCapasIntermedias.controls; let i = index"
              class="col-md-3"
              style="text-align: center;"
              formArrayName="capasIntermedias"
            >
              <mat-form-field class="example-full-width" appearance="legacy" aria-disabled="true">
                <mat-label>Capa intermedia {{i}} </mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Numero de capas intermedias"
                  [formControlName]="i"
                  min="1"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="legacy" aria-disabled="true">
                <mat-label>Funcion de activacion {{i}} </mat-label>
                <select
                  matNativeControl
                  name="funcionesActivacionCapaSalida"
                  [formControlName]="i"
                >
                  <option value="" selected>Seleccione...</option>
                  <option *ngFor="let funcionActivacion of funcionesActivacionCapaSalida" [value]="funcionActivacion">
                    {{funcionActivacion}}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
    </form>
  </div>

</div>
